{{ define "training-machines_index" }}
{{ template "header" . }}
<div class="max-h-screen flex flex-col gap-4 my-4">
    <div class="flex justify-between justify-self-stretch items-center">
        <h1 class="text-lg md:text-xl">{{ .Title }}</h1>
        <a class="bg-sky-900 hover:bg-sky-800 text-gray-50 rounded-lg text-lg font-bold py-2 px-4"
            href="/training-machines/new">Register Training Machine</a>
    </div>
    <form method="get" class="flex items-center gap-2">
        <label for="userScoped" class="text-md">Show only mine</label>
        <input class="w-5 h-5 rounded-full" type="checkbox" name="userScoped" hx-get="/training-machines/list" hx-trigger="click"
            hx-target="#training-machine-listing" hx-indicator="#spinner">
    </form>
    <div
        class="relative max-h-full min-h-48 w-full overflow-x-auto bg-sky-50 dark:bg-sky-800 shadow-lg rounded-lg text-sm md:text-md xl:text-lg">
        <div hx-get="/training-machines/list" hx-trigger="load" hx-indicator="#spinner" id="training-machine-listing"></div>
        <div id="spinner" class="display-htmx-indicator absolute inset-0 bg-sky-200 opacity-50 z-10">
            <div class="h-full flex justify-center items-center">
                <img class="size-14 lg:size-20" src="/static/img/spinner.svg" />
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}