<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet" />
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body class="bg-sky-100 text-gray-900">
    <div class="font-sans font-bold flex flex-col min-h-screen">
        <header class="bg-sky-900 p-10">
            <div class="flex text-sky-50 gap-0 w-full justify-start text-3xl font-extrabold">
                <a href="/">
                    <div class="flex">
                        <p class="font-bold">Alice</p>
                        <p class="">Tra</p>
                        <p class="font-sans font-medium">INT</p>
                    </div>
                </a>
            </div>
        </header>

        <main class="flex-grow bg-sky-100 text-sm lg:text-md dark:bg-sky-950 dark:text-gray-50">
            <div class="container mx-auto">
                {{block "content" .}} {{end}}
            </div>
        </main>

        <footer class="bg-sky-900">
            <p class="text-center text-sky-50">&copy; 2024 AliceTraINT</p>
        </footer>
    </div>
</body>

</html>